<body style="background: cadetblue;">   
<div class="d-flex justify-content-end">
    <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i class="fasfa-sign-out-alt"></i></a>
</div>
    
    <p style="font-size: 30px; margin: 40px; color:black">Hola! Gracias por registrarte aca tenes algunos descuentos adicionales</p>

<div class="image-container">
    <div class="image-wrapper">
        <a href="https://wa.me/+5401130377396?text=¡Hola! Me gustaría recibir más información sobre el 30% de descuento en la mejor comida Peruana." target="_blank">
            <img src="/images/descuentos/199860307_314253933620740_641835171008261245_n.jpg" alt="Foto de comida peruana"/></a>
        <p style="color: black;">haz click en la imagen y disfruta de un 30% off en la mejor comida Peruana</p>
    </div>
    <div class="image-wrapper">
        <a href="https://wa.me/+5401130377396?text=¡Hola! Me gustaría recibir más información sobre el 40% off en el total de mi compra en tu reserva anticipada ." target="_blank">
        <img src="/images/descuentos/salon9.jpg" alt="Foto de salon"/> </a>
        <p style="color: black;">haz click en la imagen y disfruta de un 40% off en el total de tu compra en tu reserva anticipada (solo en efectivo)</p>
    </div>
    <div class="image-wrapper">
        <a href="https://wa.me/+5401130377396?text=¡Hola! Me gustaría recibir más información sobre el descuento de sushi." target="_blank">
            <img src="/images/descuentos/Imagen de WhatsApp 2024-03-26 a las 19.04.12_54d050e1.jpg" alt="foto de sushi"></a>
        <p style="color: black;">haz click en la imagen y disfruta de un 30% off en el mejor sushi</p>
    </div>
</div>
        <p style="color: black; text-align:center"> NO ACUMULABLE CON OTRAS PROMOCINES </p>
</body>