<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="color: brown;text-align: center; font-size: 60px;">SUSHIS</h2>
                <button class="accordion" style="text-align: center;">CALIFORNIA ROLLS</button>
            <div class="panel">
                <ol>
                    <p style="color: black;">CALIFORNIA ROLLS (Envuelto en Sésamo, Masago ó Cibullette- 8 Piezas)</p>
                    <li>CALIFORNIA EBI – Antes $7.200 Ahora $3.600 <br>Con Relleno de Palta y Camarón</li>
                    <li>CALIFORNIA EBI CHESSE-Antes$7.600 Ahora$3.800 <br>Con relleno de, Camarón y Queso crema</li>
                    <li>CALIFORNIA SAKE – Antes $7.600 Ahora $3.800 <br>Con Relleno de Palta y Salmon</li>
                    <li>CALIFORNIA TORY Antes $7.000 Ahora $3.500 <br>Con relleno de Pollo Teriyaki y Palta</li>
                    <li>CALIFORNIA MAKI CHESSE-Antes $7.000 Ahora$3.500 <br>Con Relleno de Kanikama -Queso Crema</li>
                    <br>
                        <p style="color: black;">CALIFORNIA VEGETARIANO (Envuelto en Sésamo ó Cibullette- 8 piezas)</p>
                    <li>CALIFORNIA PALMITO CORN-Antes$6.400 Ahora$3.200 <br>Con Relleno de Palmito-Choclo-Aceituna</li>
                    <li>CALIFORNIA NATURA- Antes $6.400 Ahora $3.200 <br>Con relleno de Albaca- Pepino-Queso Crema</li>
                    <li>CALIFORNIA MIX – Antes $7.000 Ahora$3.500 <br>Con Relleno de Esparrago-Palmito-Palta.</li>
                    <li>CALIFORNIA CORN Antes $6.000 Ahora$3.000 <br>Con relleno de Choclo-Palta</li>
                    <li>CALIFORNIA PALMITO-Antes$6.200 Ahora$3.100 <br>Con Relleno de Palmito-Palta</li>
                    <li>CALIFORNIA VEGETARIANO-Antes$6.000 Ahora$3.000 <br>Con relleno de Pepino-Palta.</li>
                </ol>
            </div>

            <button class="accordion" style="text-align: center;">ESPECIAL ROLLS</button>
            <div class="panel">
                <ol>
                    <p style="color: black;">ESPECIAL ROLLS (Envuelto en Palta, Salmón o Mixto – 8 Piezas)</p>
                    <li>EBI ROLLS – Antes $7.600 ahora $3.800 <br>Con Relleno de Palta y Camaron</li>
                    <li>EBI CHESSE- Antes $8.000 Ahora $4.000 <br>Con relleno de Camaron y Queso crema</li>
                    <li>SAKE ROLLS – Antes $8.000 Ahora $4.000 <br>Con Relleno de Palta y Salmon</li>
                    <li>TORY ROLL- Antes $7.400 Ahora $3.700 <br>Con relleno de Pollo Teriyaki y Palta</li>
                    <li>MAKI ROLL-Antes $7.400 Ahora $3.700 <br>Con Relleno de Kanikama-Palta</li>
                    <li>ARCOIRIS ROLL- Antes $8.000 Ahora $ 4.000 <br>Con relleno de Palta-Masogo-Kanikama.</li>
                    <li>HAZUKI ROLL-Antes $9.000 Ahora $4.500 <br>Con Relleno de -Queso Crema-Salmón.</li>
                    <li>SPYCI TEMPURA ROLL- Antes $9.000 Ahora $4.500 <br>Con relleno de Queso crema-Camarón Tempura-Salsa Spyci-Cebollin.</li>
                    <li>TEMPURA SAKE ROLL-Antes $8.200 Ahora $4.100 <br>Con Relleno de Salmón Tempura-Palta.</li>
                    <li>SABI CHESSE ROLLI- Antes $9.400 Ahora $4.700 <br>Con Relleno de Queso Crema-Camaron-Salmon.</li>
                    <li>TAKO CHESSE ROLL-Antes $9.600 Ahora $4.800 <br>Con relleno de Pulpo-Queso Crema.</li>
                    <li>TAKO SPYCI ROLL-Antes $9.200 Ahora $4.600 <br>Con Relleno de Pulpo-Salsa Spyci-Palta.</li>
                    <li>MAGURO ROLL- Antes $9.850 Ahora $4.700 <br>Con Relleno de  Atún -Queso Crema.</li>
                    <li>KIOTO ROLL-Antes $8.400 Ahora $4.200 <br>Con relleno de Queso Crema- Salmón Ahumado-Cebollin.</li>
                    <li>KIDS ROLL-Antes $8.000 Ahora $4.000 <br>Relleno de Pollo Teriyaki- Queso Crema- Envuelto en Mix Pollo y Palta.</li>
                    <li>PULPO ROLL-Antes $11.000 Ahora $5.500 <br>Con Relleno de Camarón-Queso Crema-Envuelto en Pulpo.</li>
                </ol>
            </div>

            <button class="accordion" style="text-align: center;">FILADELFIA</button>
            <div class="panel">
                <ol>
                    <p style="color: black;">FILADELFIA ROLLS (Envuelto en Queso Crema- 8 piezas)</p>
                    <li>FILADELFIA TORY – Antes $8.000 ahora $4.000 <br>Con Relleno de Palta y Pollo.</li>
                    <li>FILADELFIA EBI- Antes $8.400 Ahora $4.200 <br>Con relleno de Palta y Camarón crema</li>
                    <li>FILADELFIA SAKE- Antes $9.000 Ahora $4.500 <br>Con relleno de Salmón y Palta.</li>
                    <li>FILADELFIA MAKI-Antes $8.000 Ahora $4.000 <br>Con Relleno de Kanikama-Palta</li>
                    <li>FILADELFIA KIOTO-Antes $9.200 Ahora $4.600 <br>Con Relleno de Salmón Ahumado y Palta.</li>
                    <li>FILADELFIA TAKO- Antes $9.800 Ahora $4.900 <br>Con Relleno de Pulpo y Palta.</li>
                    <li>FILADELFIA EBI TEMPURA- Antes $9.600 Ahora $4.800 <br>Con Relleno de Camarón Tempura- Palta.</li>
                    <li>MUSCHROOM CHESSE ROLL- Antes $7.600 Ahora $3.300 <br>Con Relleno de Champiñon- Queso Crema</li>
                    <li>PALMITO CORN ROLL- Antes $7.200 Ahora $3.6000 <br>Con Relleno de Palmito- Choclo- Aceituna.</li>
                    <li>NATURA ROLL- Antes $8.000 Ahora $4.000 <br>Con Relleno de Albaca – Pepino- Palta- Queso Crema.</li>
                    <li>NUTZ CHEESE ROLL- Antes $8.800 Ahora $4.400 <br>Con Relleno de Camarón Tempura- Palta.</li>
                </ol>
            </div>

            <button class="accordion" style="text-align: center;">ROLLS VEGETARIANOS</button>
            <div class="panel">
                <ol>
                    <p style="color: black;">HAZUKI ROLLS VEGETARINAO (Envuelto en Palta- 8 piezas)</p>
                    <li>MIX ROLL – Antes $7.600 ahora $3.800 <br>Con Relleno de Esparrago – Palmito- Palta.</li>
                    <li>PALMITO ROLLS- Antes $6.400 Ahora $3.200 <br>Con relleno de Palmito-Palta</li>
                    <li>VGETARIANO ROLL- Antes $6.400 Ahora $3.200 <br>Con relleno de Pepino- Palta.</li>
                    <li>SOFT ROLL-Antes $7.000 Ahora $3.500 <br>Con Relleno de Pepino- Cibullet- Queso Crema.</li>
                    <li>CORN ROLL-Antes $6.4000 Ahora $3.200 <br>Con Relleno de Choclo- Palta.</li>
                    <li>CHESSE ROLL-Antes $6.400 Ahora $3.200 <br>Con Relleno de Queso Crema- Palta – Cebollin.</li>
            </div>

            <button class="accordion" style="text-align: center;">NIGIRI</button>
            <div class="panel">
                <ol>
                    <p style="color: black;">NIGIRI (Base de arroz cubierto con pescado marisco)</p>
                    <li>NIGERI EBI – Antes $4.800 ahora $2.400 <br>Con Relleno de Camarón.</li>
                    <li>NIGIRI SAKE – Antes $5.200 Ahora $2.600 <br>Con relleno de salmon</li>
                    <li>NIGIRI TAKO -Antes $5.200 Ahora $2.600 <br>Con Relleno de Pulpo</li>
                    <li>NIGIRI MAGURO- Antes $5.000 Ahora $2.500 <br>Con Relleno de Atún.</li>
                    <li>NIGIRI MAKI- Antes $4.400 Ahora $2.200 <br>Con Relleno Kanikama.</li>
                    <li>1 NIGIRI ACEVICHADO (nuevo) a $ 3.500</li>
                </ol>
            </div>

            <button class="accordion" style="text-align: center;color:brown">SUGERENCIAS</button>
            <div class="panel">
                <ul>
                    <li><span style="color: brown;">OTO-SUSHI 1 </span> <br>Antes $10.800 ahora $7.400 <br>PARA 2 PERSONAS- 21 piezas. <br>California Tory (8 bocados) <br>Gyosas de pollo (5 unidades) <br>Zuri Maki (8 bocados)</li>
                    <li><span style="color: brown;">OTO-SUSHI 2 </span> <br>Antes $25.000 ahora $14.500 <br>PARA 2 PERSONAS- 40 piezas. <br>California Sake (8 bocados) <br>Chesse Roll (8 bocados) <br>California Maki (8 bocados) <br>Ebi Chesse Tempura (8 bocados) <br>Zurimi Maki (8 bocados)</li>
                    <li><span style="color: brown;">OTO-SUSHI 3 </span> <br>Antes $37.800 ahora $20.900 <br>PARA 3 PERSONAS- 55 piezas. <br>HAZUKI Roll (8 bocados) <br>Ebi Chesse Tempura (8 bocados) <br>Ebi Roll (8 bocados) <br>California Maki (8 bocados) <br>Sake Maki (8 bocados) <br>Surimi Maki (8 piezas)</li>
                    <li><span style="color: brown;">OTO-SUSHI 4 </span> <br>Antes $55.000 ahora $28.500 <br>PARA 4-5 PERSONAS- 67 piezas. <br>California Sake(8 bocados) <br>Tempura a elección (7 bocados <br>Cheess (8 bocados) <br>Abocado Roll(8 bocados) <br>Roll Tempura a elección (8 bocados) <br>HAZUKI Roll (8 bocados) <br>Surimi maki (8 bocados) <br>Sake Maki (8 bocados) <br>Nigiri Sake (4 bocados)</li>
                    <li><span style="color: brown;">OTO-SUSHI 5 </span> <br>Antes $39.000 ahora $20.500 <br>PARA 3-4 PERSONAS- 54 piezas. <br>Ebi Chess roll(8 bocados) <br>Tory tempura (7 bocados) <br>Philadelphia chess roll (8 bocados) <br>Gyosas de Pollo (8 bocados) <br>California Tory (8 bocados) <br>Ebi chess Maki (8 bocados) <br>Sake maki (8 bocados)</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <h2 style="color: brown;text-align: center; font-size: 60px;">COMIDA PERUANA</h2>
                <button class="accordion" style="text-align: center;">ENTRADAS</button>
            <div class="panel">
                <ol>
                    <li>SALCHIPAPA $5.500 <br>Papas fritas crujientes, choricillo y salsas de casa.</li>
                    <li>ANTICUCHO DE LOMO $7.500 <br>Jugosos trozos de lomo marinadas en salsa anticuchera acompañada de papas doradas y salsa de casa.</li>
                    <li>ANTICUCHO DE POLLO $6.500 <br>Jugosos trozos de Pollo marinadas en salsa anticuchera acompañada de papas doradas y salsa de casa.</li>
                    <li>ANTICUCHO MIXTO $8.500 <br>Jugosos trozos de pollo, camarones, pulpo marinadas en salsa de la casa.</li>
                    <li>PAPAS A LA HUANCAINA $4.000 <br>Tradicional salsa huancaina con papas cocidas, aceitunas y huevo.</li>
                    <li>CAUSA $5.500 <br>3 sabores en 1 causa de pollo, pulpo y camarón.</li>
                    <li>PULPO AL OLIVO $7.500 <br>Laminas de pulpo marinadas en salsa de olivo.</li>
                    <li> LECHE DE TIGRE $6.000 <br>Deliciosa jugo de ceviche con cebolla morada, cilandro, choclo, cancha, y trozos de pescado.</li>
                </ol>
            </div>

            <button class="accordion" style="text-align: center;">CEVICHES</button>
            <div class="panel">
                <ol>
                    <li>CEVICHE DE REINETA $9.000 <br>Tradicional ceviche de pescado acompañado e choclo, camote y cancha.</li>
                    <li>CEVICHE SALMÓN $11.500 <br>Trozos de salmón en salsa de ceviche acompañado de choclo, camote y cancha.</li>
                    <li>CEVICHE MIXTO $10.000 <br>Tradicional ceviche peruano mas camarones y pulpo.</li>
                    <li>JALEA MIXTA $11.500 <br>Trozos de pescado apanados mas porción de ceviche.</li>
                    <li>TIRADITO DE SALMÓN $9.000 <br>Laminas de salmón bañadas en salsa de leche de tigre con salsa de rocoto.</li>
                    <li>TIRADITO DE REINETA $7.500 <br>Laminas de reineta bañadas en salsa de leche de tigre con salsa de rocoto.</li>
                </ol>
            </div>

            <button class="accordion" style="text-align: center;">PLATOS DE FONDO</button>
            <div class="panel">
                <ol>
                    <li>LOMO SALTADO $9.700 <br>Jugosos trozos de carne, cebolla morada, tomate, cebollín, acompañado de papas fritas y arroz.</li>
                    <li>AJI DE GALLINA $7.900 <br>Tradicional ají de gallina peruano acompañado de papas y arroz.</li>
                    <li>CHAUFA DE POLLO $8.000 <br>Arroz salteado de pollo, cebollín, huevo, pimentón con salsa de soya.</li>
                    <li>CHAUFA DE CARNE $9.500 <br>Arroz salteado con trozos de lomo, cebollín, huevo y pimentón con salsa de soya.</li>
                    <li>CHAUFA DE MARISCOS $9.500 <br>Tradicional chaufa peruano con mariscos (pulpo, camarón, calamar).</li>
                    <li>CHAUFA AEROPUERTO $9.800 <br>Arroz salteado con trozos de pollo, carne, cebollín, pimentón, dientes de dragón con salsa de soya.</li>
                    <li>ARROZ CON MARISCOS CRIOLLO $9.500 <br>Arroz húmedo con mariscos ( pulpo, calamar, camarón) acompañado con salsa criolla.</li>
                    <li>SALMÓN A LA PLANCHA $10.000 <br>Trozo de salmón a la plancha con aliños peruanos acompañados de vegetales de la temporada salteado.</li>
                    <li>REINETA A LO MACHO $9.300 <br>Trozo de reineta a la plancha bañada con salsa de mariscos a lo macho.</li>
                    <li>PICANTE DE MARISCOS $8.500 <br>Mixturas de mariscos con salsa especial.</li>
                    <li>BISTEC A LO POBRE $7.900 <br>Jugoso bistec acompañado de papas fritas, plátano y huevo.</li>
                    <li>CHICHARRON DE POLLO $5.500 <br>Deliciosos trozos de pollo.</li>
                    <li>TALLARINES ALA HUANCAINA CON LOMO SALTADO  $10.500 <br>TALLARINES EN SALSA HUANCAINA ACOMPAÑADO DE TROZOS DE LOMO SALTEADO CON CEBOLLA MORADA Y TOMATE.</li>
                </ol>
            </div> 

            <button class="accordion" style="text-align: center;">PASTAS</button>
            <div class="panel">
                <ol>
                    <li>TALLARIN SALTADO DE LOMO $9.500 <br>Tallarín salteado en salsa de soya con carne, cebollín, pimentón, cebolla morada.</li>
                    <li>TALLARIN SALTADO DE POLLO $8.900 <br>Tallarín salteado en salsa de pollo, cebollín, pimentón, cebolla morada.</li>
                    <li>TALLARIN A LA HUANCAINA CON CAMARONES $10.000 <br>Tallarín bañado en sus salsa huancaína con camarones y queso.</li>
                    <li>TALLARIN AL PESTO CON LOMO $9.800 <br>Jugosos tallarines al pesto acompañando de un trozo de lomo liso bañado en salsa a la huancaína.</li>
                </ol>
            </div>

            <button class="accordion" style="text-align: center;">PLATOS VEGETARIANOS</button>
            <div class="panel">
                <ol>
                    <li> CAUSA VEGETARIANA $5.000 <br>Tradicional causa acompañada de verduras de la temporada y salsa de la casa.</li>
                    <li>CEVICHE DE CHAMPIÑON $6.800 <br>Exquisitos champiñones, apio, cebolla morada, cilantro mariano con limon de pica.</li>
                    <li>TALLARINES VEGETARIANOS $6.500 <br>Deliciosos tallarines bañados en sus salsa acompañados de verduras salteadas en salsa oriental.</li>
                </ol>
            </div>
            
            <button class="accordion" style="text-align: center;">ENSALADA</button>
            <div class="panel">
                <ol>
                    <li> ENSALADA CESAR $5.000 <br>Tradicional ensalada cesar con salsas de casa.</li>
                    <li>ENSALADA DE CAMARONES $ 6.000 <br>Tropical ensalada de camarones, verduras de la temperada y salsa de casa.</li>
                    <li>ENSALADA DE LOMO $7.500 <br>Ensalada con verduras de la temporada con jugosos trozos de lomo y salsa de la casa.</li>
                </ol>
            </div>
        
    </div>
</div>








<script src="/javascripts/sushiotou4.js"></script>