<body style="background: blueviolet;"> 
    <p style="text-align: center;font-size: 25px; margin: 20px;"; >Nuestro espacio ofrece un ambiente moderno y elegante, con una zona de bar, sala privada, decoración temática y música ambiental. Nuestro objetivo es brindar a nuestros comensales una experiencia gastronómica única y auténtica en un entorno acogedor y agradable.</p>
<div >  
    <div style="margin: 30px;">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.46_5e2ad94a.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.46_d7428177.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.47_2e8d9fdc.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.47_49add4a7.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.47_9353c212.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.49_f1ea98c0.jpg" style="height: 300px" alt="foto de salon">
    </div>
    <div style="margin: 30px;">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.48_0743677f.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.48_531da514.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.48_a46a8feb.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.48_a7c137e9.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.49_6fed7a57.jpg" style="height: 300px" alt="foto de salon">
        <img src="/images/salon/Imagen de WhatsApp 2024-03-26 a las 11.20.49_a01434c6.jpg" style="height: 300px" alt="foto de salon">
    </div>
</div>  
    
<section>
    <footer>
        <div class="d-flex justify-content-center">
            <p><span class="border border-info-subtle">Derechos de autor Luis Otoya © 2023/24. Mi sitio web.</span></p>         
            <p><span class="border border-info-subtle">Contáctanos en info@otosushi.com</span></p>
        </div>    
    </footer>
</section>

</body>   