<div>
    <p class="promos">PROMOCIONES SOLO PARA LLEVAR Y DELIVERY</p>
</div>
<div class="container">    
    <div class="row" style="background-color: black;">
        <div class="col">   
            <p style="font-size: 35px">PROMO 60 PIEZAS MIXTAS  $17.990<br>SOLO PARA LLEVAR Y DELIVERY</p>
        </div>
        <div class="col">
            <ul style="color: white; ">
                <li>20 tempura ( 10 con Pollo - 10 con camaron - queso o salmon - queso)</li>
                <li>10 filadelfia tory (envuelto en queso crema con relleno depollo y palta)</li>
                <li>10 Ebi roll en palta ( con relleno de camaron y palta) 10 california sake (envuelto en sesamo o cibullet con relleno de salmón y palta)</li>
                <li>10 hosomaki (envueltos en nori con relleno de kanikama y palta)</li>
            </ul>
        </div>
        <div class="col">
            <img src="/images/60piezas_mixtas17900.png" alt="" width="250px">
        </div>    
    </div>    
</div>

<br>

<div class="container">    
    <div class="row" style="background-color: black;">
        <div class="col">   
            <p style="font-size: 35px">PROMO 40 PIEZAS MIXTA $13.990<br>SOLO PARA LLEVAR Y DELIVERY</p>
        </div>
        <div class="col">
            <ul style="color: white; ">
                <li>20 tempura ( 10 con Pollo - y 10 con camarón-queso o salmón-queso)</li>
                <li>10 Ebi roll en palta ( con relleno de camarón y palta)</li>
                <li>10 california maki (en sésamo o cibullet con relleno de kanikama)</li>
            </ul>
        </div>
        <div class="col">
            <img src="/images/40piezas_mixtas13990.png" alt="" width="250px">
        </div>    
    </div>    
</div>

<br>

<div class="container">    
    <div class="row" style="background-color: black;">
        <div class="col">   
            <p style="font-size: 35px">PROMO 40 TEMPURAS $14.990<br>SOLO PARA LLEVAR Y DELIVERY</p>
        </div>
        <div class="col">
            <ul style="color: white; ">
                <li>10 Tory tory tempura ( 10 con Pollo)</li>
                <li>10 maki tempura ( 10 con kanikama)</li>
                <li>10 Ebi Chesse tempura (10 con camaron)</li>
                <li>10 (elegir cualquiera de las tres anteriores)</li>
            </ul>
        </div>
        <div class="col">
            <img src="/images/40piezas_tempuras14990.png" alt="" width="250px">
        </div>    
    </div>    
</div>

<br>

<div class="container">    
    <div class="row" style="background-color: black;">
        <div class="col">   
            <p style="font-size: 35px">PROMO 30 PIEZAS $9.990<br>SOLO PARA LLEVAR Y DELIVERY</p>
        </div>
        <div class="col">
            <ul style="color: white; ">
                <li>10 tempura ( 10 con Pollo - 10 con pollo o camarón )</li>
                <li>10 california Maki (en sesamo o cibullet con kanikama de relleno)</li>
                <li>10 tempura (10 con Kanikama)</li>
            </ul>
        </div>
        <div class="col">
            <img src="/images/30piezas_mixtas9990.png" alt="" width="250px">
        </div>    
    </div>    
</div>

<br>

<div class="container">    
    <div class="row" style="background-color: black;">
        <div class="col">   
            <p style="font-size: 35px">PROMO 40 PIEZAS VEGETARIANAS $13.700<br>SOLO PARA LLEVAR Y DELIVERY</p>
        </div>
        <div class="col">
            <ul style="color: white; ">
                <li>20 tempura ( 10 con pimentón y 10 con champiñón o palmito )</li>
                <li>10 california (envuelto en sésamo o cibullet con pepino de relleno)</li>
                <li>10 Roll envuelto en Palta(con relleno de pimentón o palmito)</li>
            </ul>
        </div>
        <div class="col">
            <img src="/images/40piezas_vegetarianas13700.png" alt="" width="250px">
        </div>    
    </div>    
</div>

<br>

<div class="container">    
    <div class="row" style="background-color: black;">
        <div class="col">   
            <p style="font-size: 35px">También tenemos bebida</p>
        </div>
        <div class="col">
            <ul style="color: white; ">
                <li>Bebidas de Litro y Medio ( 1 1/2)</li>
                <li>Bebidas personales</li>
            </ul>
        </div>
        <div class="col">
            <img src="/images/a-bebidas.jpg" alt="" width="250px">
        </div>    
    </div>    
</div>

<section>
    <footer>
        <div class="d-flex justify-content-center">
            <p><span class="border border-info-subtle">Derechos de autor Luis Otoya © 2023/24. Mi sitio web.</span></p>         
            <p><span class="border border-info-subtle">Contáctanos en info@otosushi.com</span></p>
        </div>    
    </footer>
</section>


