<body>
    <h1 style="text-align: center; margin: 15px; color:tomato">SIGUENOS EN NUESTRAS REDES SOCIALES</h1>

    <div class="image-container; d-flex justify-content-center">
        <div>
            <a href="https://www.facebook.com/" target="_blank">
            <img src="/images/redessociales/facebook.jpg" style="height: 300px" alt="foto de facbook"></a>
            <p>haz click en la imagen y disfruta de promociones increibles</p>
        </div>
        <div>
            <a href="https://www.instagram.com/" target="_blank">
            <img src="/images/redessociales/instagram.jpg" style="height: 300px" alt="foto de instagram"></a>
            <p>haz click en la imagen y disfruta de promociones increibles</p>
        </div>
        <div>
            <a href="https://twitter.com/" target="_blank">
            <img src="/images/redessociales/twiterr.jpg" style="height: 300px" alt="foto de twiterr"></a>
            <p>haz click en la imagen y disfruta de promociones increibles</p>
        </div>
    </div>
</body>