<body class="backgroundredessociales">
<div class="redessociales">
    <p class="predessociales">SIGUENOS EN NUESTRAS REDES SOCIALES</p>
    <div class="image-container; d-flex justify-content-center">
        <div>
            <a href="https://www.facebook.com/" target="_blank">
            <img src="/images/redessociales/facebook.jpg" style="height: 300px" alt="foto de facbook"></a>
            <p> ↑ <br> haz click en la imagen y disfruta de promociones increibles</p>
        </div>
        <div>
            <a href="https://www.instagram.com/" target="_blank">
            <img src="/images/redessociales/instagram.jpg" style="height: 300px" alt="foto de instagram"></a>
            <p> ↑ <br> haz click en la imagen y disfruta de promociones increibles</p>
        </div>
        <div>
            <a href="https://twitter.com/" target="_blank">
            <img src="/images/redessociales/twiterr.jpg" style="height: 300px" alt="foto de twiterr"></a>
            <p> ↑ <br> haz click en la imagen y disfruta de promociones increibles</p>
        </div>
    </div>
</div>

<section>
    <footer>
        <div class="d-flex justify-content-center">
            <p><span class="border border-info-subtle">Derechos de autor Luis Otoya © 2023/24. Mi sitio web.</span></p>         
            <p><span class="border border-info-subtle">Contáctanos en info@otosushi.com</span></p>
        </div>    
    </footer>
</section>

</body>