<body>
    <div class="horarios">
        <p>Horario: 08:00 a 22:00 hs</p>  
        <p>Contactanos: Whatsapp 0123456789 - TEL: 2345678910</p>
    </div>    
    <div>
        <h1>SUSHI OTO</h1>
    </div>
    <div>
        <li>
            <a href="#">INICIO</a>
            <a href="#">PROMOS</a>
            <a href="#">CARTA</a>
            <a href="#">NUESTRO ESPACIO<a>
            <a href="#">DIRECCIÓN</a>
            <a href="#">REGISTRATE</a>
            <a href="#">INGRESA</a> 
        </li>
    </div> 
    <div class="bienvenido">
        <p><span style="font-size: 25px;">¡Bienvenido a Sushi Oto!</span><br>
    En Sushi Oto, nos apasiona ofrecerte la mejor experiencia culinaria japonesa. Nuestro objetivo es transportarte a Japón a través de nuestros exquisitos platos de sushi y sabores auténticos. Desde los clásicos nigiri y sashimi hasta los rollos creativos y deliciosos, cada bocado es una obra maestra cuidadosamente elaborada por nuestros talentosos chefs.
    Nos enorgullece utilizar solo los ingredientes más frescos y de la más alta calidad en cada uno de nuestros platos. Trabajamos en estrecha colaboración con  proveedores locales para garantizar que cada pieza de sushi sea una explosión de sabores y texturas que deleitará tus sentidos.
    Además de nuestra increíble selección de sushi, también ofrecemos una variedad de opciones vegetarianas y platos calientes tradicionales japoneses. Nuestro objetivo es satisfacer los gustos y necesidades de todos nuestros clientes, brindando una experiencia gastronómica única y memorable.
    Ya sea que estés buscando una cena íntima, una comida rápida para llevar o un lugar para celebrar una ocasión especial, Sushi Oto es el lugar perfecto. Nuestro cálido y acogedor ambiente, combinado con un servicio excepcional, te hará sentir como en casa desde el momento en que cruzas nuestras puertas.
    ¡Te invitamos a explorar nuestro menú y descubrir los sabores únicos de Sushi Oto! Ven y únete a nosotros para una experiencia gastronómica inolvidable.</p>
    </div>
    <form action="../form-result.php" target="_blank">
        <p>Ingresa tu nombre completo: <input type="text" name="nombrecompleto"></p>
        <p>Deja un mensaje:<br><textarea name="mensaje"></textarea></p>
        <input type="submit" value="Enviar la información">
    </form>
    <footer>
        <div>
            <p>Derechos de autor © 2023/24. Mi sitio web.</p>         
            <p>Contáctanos en info@otosushi.com</p>
        </div>    
    </footer>
<section class="widget widget_blog_subscription">
  <form action="#" method="post" accept-charset="utf-8" id="subscribe-blog">
    <p>Subscribete a nuesto newsletter.</p>
    <p>
      <input type="text" name="email" style="width: 95%; padding: 1px 2px" placeholder="Ingresa tu dirección de correo electrónico" value="" id="subscribe-field">
    </p>
    <p>
      <input type="submit" value="Sigueme!">
    </p>
  </form>
</body>
