<body style="background-color: black;">
    <h1 class="text-center" style="color: red; font-size:100px; font-family:cursive  ">SUSHI OTO</h1>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row" style="width: 1750px;">
            <div class="col-3">
<section>       
                <img src="" class="img-thumbnail" class="rounded float-start" style="height: 300px;" alt="">
            </div>
            <div class="col-3">
                <img src="" class="img-thumbnail" 
                style="height: 300px"  alt="">
            </div>
            <div class="col-3">
                <img src="" class="img-thumbnail" class="rounded float-end" style="height: 300px" alt="">
            </div>
</section>
<div class="col-3">
    <form style="color: brown; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">
        <div class="mb-3" style="height: 110px;">
                <label for="exampleInputEmail1" class="form-label">Dirección de correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text" ><button type="button" class="btn btn-primary">Crear cuenta nueva</button>
                </div>
        </div>
            <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
    </div>
</div>
<br>
<br>
    <section>   
        <p class="border border-info-subtle"><span style="font-size: 25px;">¡Bienvenido a Sushi Oto!</span><br>
    En Sushi Oto, nos apasiona ofrecerte la mejor experiencia culinaria japonesa. Nuestro objetivo es transportarte a Japón a través de nuestros exquisitos platos de sushi y sabores auténticos. Desde los clásicos nigiri y sashimi hasta los rollos creativos y deliciosos, cada bocado es una obra maestra cuidadosamente elaborada por nuestros talentosos chefs.
    Nos enorgullece utilizar solo los ingredientes más frescos y de la más alta calidad en cada uno de nuestros platos. Trabajamos en estrecha colaboración con  proveedores locales para garantizar que cada pieza de sushi sea una explosión de sabores y texturas que deleitará tus sentidos.
    Además de nuestra increíble selección de sushi, también ofrecemos una variedad de opciones vegetarianas y platos calientes tradicionales japoneses. Nuestro objetivo es satisfacer los gustos y necesidades de todos nuestros clientes, brindando una experiencia gastronómica única y memorable.
    Ya sea que estés buscando una cena íntima, una comida rápida para llevar o un lugar para celebrar una ocasión especial, Sushi Oto es el lugar perfecto. Nuestro cálido y acogedor ambiente, combinado con un servicio excepcional, te hará sentir como en casa desde el momento en que cruzas nuestras puertas.
    ¡Te invitamos a explorar nuestro menú y descubrir los sabores únicos de Sushi Oto! Ven y únete a nosotros para una experiencia gastronómica inolvidable.</p>
    </section>
    
    
<section>
    <footer>
        <div class="d-flex justify-content-center">
            <p><span class="border border-info-subtle">Derechos de autor © 2023/24. Mi sitio web.</span></p>         
            <p><span class="border border-info-subtle">Contáctanos en info@otosushi.com</span></p>
        </div>    
    </footer>
</section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>