<body>
	<div id="igresar"> 
		<div class="login-wrap">
			<div class="login-html">
				<form action="/admin/login" method="post">	
					<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">INICIAR SESIÓN</label>
					<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
					<div class="login-form">
						<div class="sign-in-htm">
							<div class="group">
								<label for="usuario" class="label">NOMBRE DE USUARIO</label>
								<input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" name="usuario">
							</div>
							<div class="group">
								<label for="password" class="label">CONTRASEÑA</label>
								<input type="password" class="form-control" id="password" name="password">
							</div>
							<div class="group">
								<input id="check" type="checkbox" class="check" checked>
								<label for="check"><span class="icon"></span>Mantenerme registrado</label>
							</div>
							<div class="group">
								<button type="submit" class="btn btn-primary">Entrar</button>
							</div>
							<div class="hr"></div>
							<div class="foot-lnk">
								<a href="#forgot">¿Has olvidado tu contraseña?</a>
							</div>
						</div>
					</div>
				</form>
				{{#if error}}
					<p>Usuario o contraseña incorrecto!</p>
				{{/if}}	
			</div>
		</div>
	</div>

	<section>
    <footer>
        <div class="d-flex justify-content-center">
            <p><span class="border border-info-subtle">Derechos de autor Luis Otoya © 2023/24. Mi sitio web.</span></p>         
            <p><span class="border border-info-subtle">Contáctanos en info@otosushi.com</span></p>
        </div>    
    </footer>
</section>

</body>
			