body{
    background-image: url("/M2U2(JAVASCRIPT_AVANZADO)/img/Sushi-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.horarios {
    color:white;
    display: flex;
    justify-content: space-between;
}
.titulo{
    text-align: center; font-size: 50px; color: red;
}
.listas {
    color:#fff ;font-family: fantasy; font-size: 30px;
}
#textarea{
    display: flex; justify-content:center;
}
#comentario{
    display: flex; color:aqua ; font-size: 30px;
}