<for action="/contacto" method="post" class="formulario">
    <p>
        <label for="nombre">Nombre</label>
        <input type="text" name="email">
    </p>
    <p>
    <p>
        <label for="telefono">Telefono</label>
        <input type="text" name="tel">   
    </p>
    <p>
        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje"></textarea>    
    </p>
    </p>
    <p class="acciones"><input type="submit" value="enviar"/></p>
</form>

{{ message }}