body{
    background-image: url("/M2U2(JAVASCRIPT_AVANZADO)/img/Sushi-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.horarios {
    color:white;
    display: flex;
    justify-content: space-between;
}
.titulo{
    color:red; text-align: center;}
.titulo2{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
    
li {
    color:#fff ;font-family: fantasy; font-size: 30px;
}