body{
    background-color: coral;
}
h1{
    color:red; text-align: center; font-size: 100px;
}
li {
    color: black;font-family: fantasy; font-size: 50px;
}
.contenedor {
    display: flex; 
}
.contenedor img {
    margin: auto; 
}
.left {
align-self:flex-end
}
.right {
align-self:flex-start
}
h4 {
    background-color: blue;
}