<div class="container2">
    <img src="/images/delivery/2453.png" alt="Imagen">
    <div class="text">
        <p style="font-size: 40PX; color:tomato">Delivery solo por WhatsApp <a href="https://api.whatsapp.com/send?phone=123456789">Enviar mensaje por WhatsApp</a> </p>
    </div>
</div>