<body>
    <h1 style="margin: 25px;color:white;">Glatzer Str. 8
Glatzer Str. 8, 36251 Bad Hersfeld, Alemania</h1>

    <div class="map-container">
        <iframe <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1360.8669434884198!2d9.674730320198336!3d50.84989659110872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a3534e135a5255%3A0xfb9360fc4d3eac4!2sGlatzer%20Str.%208%2C%2036251%20Bad%20Hersfeld%2C%20Alemania!5e0!3m2!1ses-419!2sar!4v1711468699788!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" frameborder="0"></iframe>
        <div class="description">
            <h2>Aqui puedes encontrarnos</h2>
            <p>en los horarios de 08:00 a 22:00 hs</p>
        </div>
    </div>

</body>